setuptools
wheel
twine
python-dotenv
isort==5.13.2
pylint==3.3.3
black==24.10.0
pytest
pytest-cov
opensearch-py>=2.8.0
pydantic>=2.10.4
pydantic-settings>=2.7.0
dependency-injector>=4.44.0
PyYAML>=6.0.2